@import 'bourbon';
@import 'neat';
body{ 
	font-family: 'Lato';
}
$col1	 :	#505160;
$col2 	 :	#68829E;
$col3	 :	black;
$col4	 :	#598234;
 
body{
	background-color:$col3;
  color:white;
}
.main{
	@include outer-container;
  	.row-12{
	  @include span-columns(12);
	  .col-3{
		@include span-columns(3 of 12);
		padding: 15px;
		margin:0;
	  }
	  .col-4{
		@include span-columns(4 of 12);
		margin:0;
		padding: 15px;
	  }
	}

}

.ucb{
	padding:15px;
	background-color:$col3;
	color:lighten($col4,50%);
	text-align:center;
	font-weight: bold;
	border:4px solid lighten($col1,60%);
	cursor:pointer;
	overflow:hidden;
  	font-size:20px;
    .s-ap, .s-ds,.s-trans{
	   clear:left;
	  display:inline-block;

	  span{
		display:inline-block;
		//will-change:transform;
		transition:0.2s ease all;
	  }
	}

  	.s-ap{
	  transform:translateX(50%);
	}
  	.s-ds{
	  transform:translateX(-50%);
	}
}

.s-ap{
  .goup{
	transform:translateY(-50px);
  }
}

//Flying Letters to UP
[data-appear='up']{
  .s-ap{
	.a-up{
	  transform:translateY(-50px);
	}
  }
}
[data-dissapear='up']{
  .s-ds{
	transform:translateY(50px) translateX(-50%);
	.d-up{
	  transform:translateY(-50px);
	}
  }
}

//Flying Letters to DOWN

[data-appear='down']{
  .s-ap{
	.a-down{
	  transform:translateY(50px);
	}
  }
}
[data-dissapear='down']{
  .s-ds{
	transform:translateY(-50px) translateX(-50%);
	.d-down{
	  transform:translateY(50px);
	}
  }
}

//Fly In
[data-appear='fly-in']{
  .s-ap{
	.a-fly-in{
	  transform:scale(5);
	  opacity:0;
	}
  }
}

[data-dissapear='fly-in']{
  .s-ds{
	transform:translateX(-50%);
	span{
		transform:scale(0.5);
	  	opacity:0;
		&.d-fly-in{
		  transform:scale(1) ;
		  opacity:1;
		}
	}
  }
}
//Fly Out
[data-appear='fly-out']{
  .s-ap{
	.a-fly-out{
	  transform:scale(0);
	  opacity:0;
	}
  }
}
[data-dissapear='fly-out']{
  .s-ds{
	transform:translateX(-50%);
	span{
	  transform:scale(5);
	  opacity:0;
	  &.d-fly-out{
		transform:scale(1) ;
		opacity:1;
	  }
	}
  }
}

//jackpot
[data-appear='jackpot']{
  .s-ap{
	.a-jackpot{
	  transform:rotateX(90deg);
	  transform-origin:(0 0);
	}
  }
}
[data-dissapear='jackpot']{
  .s-ds{
	transform:translateX(-50%);
	span{
	  transform:rotateX(-90deg);
	  transform-origin:(0 100%);
	  &.d-jackpot{
		transform:rotateX(0deg);
	  }
	}
  }
}

//singler zoom-in
@keyframes zoom-in {
  0%   {
	@include transform(scale(1));
  }
  50%  {
	@include transform(scale(2));
  }
  100% {
	@include transform(scale(1));
  }
}
[data-change='zoom-in']{
  .s-trans{
	span{
	  &.c-zoom-in{
		@include animation(zoom-in 0.2s ease-in);
	  }
	}

  }
}
//singler zoom-out
@keyframes zoom-out {
  0%   {
	@include transform(scale(1));
  }
  50%  {
	@include transform(scale(0));
  }
  100% {
	@include transform(scale(1));
  }
}

[data-change='zoom-out']{
  .s-trans{
	span{
	  &.c-zoom-out{
		@include animation(zoom-out 0.2s ease-in);
	  }
	}

  }
}